root = true

[*]
end_of_line = crlf
insert_final_newline = true
charset = utf-8

# Code files
[*.cs]
indent_style = space
indent_size = 4

# Project files
[*.{csproj,props}]
indent_style = space
indent_size = 2

# Static coce analysis
[*]
vsspell_section_id = main
vsspell_ignored_words_main = File:dictionary.dic

csharp_style_expression_bodied_constructors = true
csharp_style_expression_bodied_methods = true
csharp_style_expression_bodied_operators = true
csharp_style_expression_bodied_properties = true
csharp_style_expression_bodied_indexers = true

dotnet_diagnostic.VSSpell001.severity = silent # Correct spelling
